################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/MagicVilla/FileContentIndex/0a441a47-13cf-424c-aae4-7cefd3be7eee.vsidx
/.vs/MagicVilla/FileContentIndex
